<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">People Management</span>
        </a>
        <a th:href="@{/add}">
            <button type="button" class="btn btn-primary">Add Person</button>
        </a>
    </header>
</div>
<div class="container">
    <form th:action="@{'/create'}" th:object="${person}" method="post">
        <div class="mb-3">
            <label for="first-name" class="form-label">first name</label>
            <input th:field="*{name}" type="text" class="form-control" id="first-name">
        </div>
        <div class="mb-3">
            <label for="last-name" class="form-label">Last name</label>
            <input th:field="*{surname}" type="text" class="form-control" id="last-name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input th:field="*{email}" type="text" class="form-control" id="email">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>
</body>
</html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
