<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">People Management</span>
        </a>
        <a th:href="@{/add}">
            <button type="button" class="btn btn-primary">Add Person</button>
        </a>
    </header>
</div>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
        <div class="col card" th:each="person : ${people}">
            <div class="card-body">
                <h5 class="card-title" th:text="${person.getName()} + ' ' + ${person.getSurname()}"></h5>
                <p class="card-text" th:text="${person.getEmail()}"></p>
                <p class="card-text" th:text="${person.getDate()}"></p>
                <p class="card-text" th:text="${person.getGender()}"></p>
                <a th:href="@{'/delete/' + ${person.getId()}}">
                    <i class="bi bi-trash-fill btn btn-outline-danger"></i>
                </a>
                <a th:href="@{'/edit/' + ${person.getId()}}" class="btn btn-primary">Edit</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<script th:inline="javascript">
    /*<![CDATA[*/

    const people = /*[[${people}]]*/ 'default';
    console.log(people);

    /*]]>*/</script>